.statistique {
  background-color: #f2f2f2;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  width: 150px;
}

.stat-chiffre {
  font-size: 28px;
  font-weight: bold;
}

.stat-libelle {
  font-size: 14px;
  color: #555;
}
